/* Header */

.header {
  margin-top: 25px;
}

img.card-img-top {
  padding: 10px;
}


/* Track Cards */
.track-cards {
  margin-top: 50px;
}

.card-header {
  text-align: center;
}

/* Survey */

.survey {
  margin-top: 50px;
}

.question {
  margin: 30px 30px;
}
