body {
  background-color: white;
}

.container {
  padding: 0 50px;
  background-color: #fafbfc;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

/* Header */

#header-h1 {
  background-color: #00b3b4;
  color: white;
  padding: 20px;
}

.header img {
  filter: drop-shadow(0 0 10px #333);
  border-radius: 40px;
  margin: 50px auto;
  display: block;
  max-width: 100%;
}



/* Track Cards */
.track-cards {
  margin-top: 50px;
}

.card-header {
  text-align: center;
}

img.card-img-top {
  padding: 10px;
  max-width: 200px;
  max-height: 200px;
  margin: 0 70px;
}


/* Survey */
.survey {
  margin-top: 50px;
}

#nameForm {
  max-width: 300px;
  margin: 30px 50px;
  font-size: 18px;
}

.question {
  margin: 30px 50px;
}

.question-4-images {
  max-height: 250px;
  max-width: 250px;
}

#submit-button {
  margin: 0px 30px 50px 30px;
}

/* Result */
#result-1 {
  display: none;
}

#result-2 {
  display: none;
}

#result-3 {
  display: none;
}

#result-4 {
  display: none;
}
