/* Header */
.header {
  margin-top: 25px;
}



/* Track Cards */


.track-cards {
  margin-top: 50px;
}

.card-header {
  text-align: center;
}

img.card-img-top {
  padding: 10px;
  max-width: 200px;
  max-height: 200px;
  margin: 0 70px;
}

/* Survey */
.survey {
  margin-top: 50px;
}

.question {
  margin: 30px 50px;
}

.question-4-images {
  max-height: 250px;
  max-width: 250px;
}
